@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

:root {
  --hero-footer-background: #1F2937;
  --header-logo-text: #F9FAF8;
  --hero-main-text: #F9FAF8;
  --hero-secondary-text: #E5E7EB;
  --button: #3882F6;
  --cta-background: #3882F6;
  --information-header-text: #1F2937;
  --quote-section-background: #E5E7EB;
  --quote-text: #1F2937;
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* HEADER SECTION */
.header-section {
  background-color: var(--hero-footer-background);
}

.logo {
  font-size: 24px;
  color: var(--header-logo-text);
}

.hero-main-text {
  color: var(--hero-main-text);
  font-size: 48px;
  font-weight: 900;
}

.hero-secondary-text {
  font-size: 18px;
  color: var(--hero-secondary-text);
}

.signup {
  background-color: var(--button);
}

/* INFORMATION SECTION */
.information-header-text {
  font-size: 36px;
  font-weight: 900;
  color: var(--information-header-text);
}

/* QUOTE SECTION */
.quote-section {
  background-color: var(--quote-section-background);
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: var(--quote-text);
}

/* FOOTER */
.footer-section {
  background-color: var(--hero-footer-background);
}